<div class="todo-list">
    <h2>To-do List</h2>
    <div class="task-list">
        <table>
            {{#each tasks}}
            <tr data-id="{{id}}">
                <td><input type="checkbox"></td>
                <td class="description">{{description}}</td>
                <td class="edit-task">Edit</td>
                <td class="delete-task">Delete</td>
                <td>
                    <select id="send-to-folder" name="folder">
                        <option value="">Send to folder...</option>
                        {{#each ../folders}}
                        <option value="{{id}}">{{name}}</option>
                        {{/each}}
                    </select>
                </td>
            </tr>
            {{/each}}
        </table>
    </div>
    <div class="add-task">
        <form action="/task" method="POST">
            <input type="text" name="description" placeholder="New Task" autocomplete="off" required>
            <input type="submit" value="Add">
        </form>

    </div>
</div>
<div class="folders">
    <h2>Folders</h2>
    <div class="folder-list">
        <table>
            {{#each folders}}
            <tr>
                <td>{{name}}</td>
                <td><a href="">View Items</a></td>
                <td><a href="">Remove</a></td>
            </tr>
            {{/each}}
        </table>
    </div>

    <div class="add-folder">
        <form action="/folder" method="post">
            <input type="text" name="name" placeholder="New Folder" autocomplete="off" required>
            <input type="submit" value="Add">
        </form>
    </div>
</div>